<turbo-frame id='hotwire-frame'>
  <div class="col" id='hotwire-frame'>
    <h3>こんばんは</h3>
    <p>これは夜の挨拶です。</p>
    <%= link_to 'こんにちは', greet_tops_path, class: 'btn btn-primary' %>
  </div>
</turbo-frame>